<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Custom search</title>
</head>
<body>
<div>
    <form method="post" action="/">
    <label for="search">Search engine</label>
    <input name="search" id="search" placeholder="">
    <input type="submit" value="Search">
    </form>
    <h3>Search results</h3>
    <ul id="searchResults">
    {% for x in content %}
    <li> {{x}} </li>
    {% endfor %}
    </ul>
</div>
</body>
</html>
